
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";



body {
    font-family: "Nunito Sans", sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Light Mode */
body {
    background-color: white;
    color: black;
}

/* Dark Mode */
.dark body {
    background-color: #1a202c; 
    color: black;
}